<section class="hero is-white">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Mypage
      </h1>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-12">
        <div class="columns is-centered">
          <div class="column is-2">
            <figure class="image is-128x128"  style="margin-left: auto; margin-right: auto;">
              <% if @user.image? %>
                <%= image_tag @user.image.url, class: "profile_image is-rounded" %>
              <% else %>
                <%= image_tag ("noimage.png"), class: "profile_image is-rounded" %>
              <% end %>
            </figure>
          </div>
          <div class="column is-10">
            <table class="table is-fullwidth">
              <tr>
                <td class="is-size-4">
                  <strong><%= @user.name %></strong>
                </td>
                <% if @user.id == current_user.id %>
                <td class="is-size-4">
                  <%= @user.email %>
                </td>
                <td>
                    <%= link_to "編集", edit_user_path(@user), class: "button is-primary" %>
                </td>
                <% end %>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="table">
  <div class="container">
    <div class="columns", id ="columns_mypage">
      <table class="table is-fullwidth">
         <thead>
           <tr>
             <th><div class="column", id = "column_mypage">
               <%= link_to "お気に入り投稿", bookmark_path, class: "button is-link is-large" %>
            </div></th>
            <th><div class="column", id = "column_mypage">
              <%= link_to "体重記録", weight_histories_path, class: "button is-link is-large" %>
            </div></th>
            <th><div class="column", id = "column_mypage">
              <%= link_to "カロリー計算", momentum_counts_path, class: "button is-link is-large" %>
            </div></th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-multiline">
      <% @foods.each do |food| %>
        <div class="column is-4">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <%= link_to food_path(food) do %>
                  <%= image_tag food.image.url if food.image.present? %>
                <% end %>
              </figure>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>

<footer class="footer">
	<p>Copyright © 2022 kazutomo_shimizu</p>
</footer>
