<%= form_with(model: weight_history, local: true) do |form| %>
  <% if weight_history.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(weight_history.errors.count, "error") %> prohibited this weight_history from being saved:</h2>

      <ul>
        <% weight_history.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <section class="section">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-6">
          <div class="field">
            <%= form.label :weight, class: "label" %>
            <%= form.number_field :weight, class: "input"%>
          </div>

          <%= form.label :計測日時, class: "label" %>
          <%= form.datetime_select :start_time %>


          <div class="actions" id = "submit_weight">
            <%= form.submit "記録", class: "button is-primary"%>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </section>
