<%= form_with(model: weight_history, local: true) do |form| %>
  <article class="message is-danger mb-0", id = "error_id">
    <% if @weight_history.errors.any? %>
      <div class='message-header'>
        <h2><%= @weight_history.errors.count %>件のエラーがあります。</h2>
      </div>
      <div class='message-body'>
        <% @weight_history.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </div>
    <% end %>
  </article>

  <section class="section">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-6">
          <div class="field">
            <%= form.label :weight, class: "label" %>
            <%= form.number_field :weight, class: "input", step: "0.1", placeholder: "(例)60"%>
          </div>

          <%= form.label :計測日時, class: "label" %>
          <%= form.datetime_select :start_time %>


          <div class="actions" id = "submit_weight">
            <%= form.submit "記録", class: "button is-success"%>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </section>
