<h1>MomentumCounts#index</h1>
<p>Find me in app/views/momentum_counts/index.html.erb</p>

<%= form_with(url: momentum_counts_path, local: true, method: :get) do |form| %>
  <div class = "form-row">
    <span class = "form-group col-md-4">
      <%= form.number_field :bmr, type: "integer", class: "form-control",id: "inputcity" %>
    </span>
    <span class = "form-group col-md-4">
      <%= form.label :magnification %>
      <%= form.collection_select :magnification, MomentumCount.all, :magnification, :work %>
    <span>
      <%= form.submit "計算", class:"button is-primary" %>
    </span>
<% end %>
