<%= form_with(model: food, local: true) do |form| %>
  <article class="message is-danger mb-0", id = "error_id">
    <% if @food.errors.any? %>
      <div class='message-header'>
        <h2><%= @food.errors.count %>件のエラーがあります。</h2>
      </div>
      <div class='message-body'>
        <% @food.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </div>
    <% end %>
  </article>

  <section class="section">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-6">
          <div class="field">
            <%= form.label :image, "写真", class: "label" %>
            <%= form.file_field :image, class: "input"%>
          </div>

          <div class="field">
            <%= form.label :body, "メモ",  class: "label" %>
            <%= form.text_area :body, class: "textarea", placeholder: "(例) 朝食：白米、鶏胸肉　など" %>
          </div>

          <div class="actions">
            <%= form.submit '投稿', class: "button is-success"%>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </section>
