<%= form_with(model: food, local: true) do |form| %>
  <% if food.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(food.errors.count, "error") %> prohibited this food from being saved:</h2>

      <ul>
        <% food.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <section class="section">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-6">
          <div class="field">
            <%= form.label :image, "写真", class: "label" %>
            <%= form.file_field :image, class: "input"%>
          </div>

          <div class="field">
            <%= form.label :body, "メモ",  class: "label" %>
            <%= form.text_area :body, class: "textarea", placeholder: "(例) 朝食：白米、鶏胸肉　など" %>
          </div>

          <div class="actions">
            <%= form.submit '投稿', class: "button is-success"%>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </section>
