<p id="notice"><%= notice %></p>

  <h1>Foods</h1>

<table>
  <thead>
    <tr>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @foods.each do |food| %>
      <tr>
        <td><%= image_tag food.image.url if food.image.present?%></td>
        <td><%= food.body%></td>
        <td><%= link_to 'Show', food %></td>
        <% if food.user == current_user %>
          <td><%= link_to 'Edit', edit_food_path(food.id) %></td>
          <td><%= link_to 'Destroy', food, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Food', new_food_path %>
